header {
    margin-bottom: 50px;
  }
  
  h1,
  h2 {
    font-weight: 700;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn-primary:focus,
  .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  
  h1 {
    font-family: 'Pathway Extreme', sans-serif;
  }
  h2  { 
    font-family: 'Pathway Extreme', sans-serif;
   }