.carousel-control-next{
    background-color: gray;
}
.carousel-control-prev{
    background-color: gray;
}
h1 {
    font-family: 'Pathway Extreme', sans-serif;
  }
  h2  { 
    font-family: 'Pathway Extreme', sans-serif;
   }