.navbar {
    background-color: #343a40;
  }
  
  .navbar-brand {
    color: #fff;
  }
  
  .nav-link {
    color: #fff;
  }

  .container {
    margin-top: 50px;
  }

  .card {
    margin-top: 20px;
    border: none;
  }
  
  .card-header {
    background-color: #343a40;
    color: #fff;
  }
  
  .card-title {
    font-size: 2rem;
    margin-bottom: 0;
  }

  footer {
    background-color: #f8f9fa;
  }
  